.footer {
  background-color: #2593b8;
  color: white;
  padding: 10px;
  text-align: center;
}

.text {
  display: flex;
  justify-content: center;
  gap: 5px;
}

hr {
  margin: 10px 20px 10px 20px;
}
