.footer {
  background-color: #144273;
  color: white;
  padding: 10px;
  text-align: center;
  margin: 0;
}

.text {
  display: flex;
  justify-content: center;
  gap: 5px;
}

hr {
  width: 99%;
  margin: 10px;
}
