@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

body {
  background-color: rgb(243, 242, 242);
  /*
  background-image: linear-gradient(to bottom, #d4e9ff, #ffffff);
  background-color: #144273;

  min-height: 100vh;
  margin: 0;
  */
}
