<div class="table-header">
  <h2 class="list-title">Control de rentas</h2>
  <p>Seguimiento de préstamos y devoluciones de libros</p>
</div>

<div class="full-container">
  <!--Boton añadir-->
  <div class="add-btn">
    <button
      type="button"
      class="btn btn-custom"
      data-bs-toggle="modal"
      data-bs-target="#formulario-rentas"
    >
      + Añadir renta
    </button>
  </div>

  <!--Tabla-->
  <div>
    @if (cargando()) {
    <div>
      <p>Cargando datos...</p>
    </div>
    } @if (!cargando()) {
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead class="custom-table">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">ID Cliente</th>
            <th scope="col">ID Libro</th>
            <th scope="col">Fecha Renta</th>
            <th scope="col">Fecha Est. Dev.</th>
            <th scope="col">Fecha Real Dev.</th>
            <th scope="col">Estado</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          @for (item of rentas(); track item.idRenta) {
          <tr>
            <th scope="row">{{ item.idRenta }}</th>
            <td>{{ item.idCliente }}</td>
            <td>{{ item.idLibro }}</td>
            <td>{{ item.fechaRenta | date : 'shortDate' }}</td>
            <td>{{ item.fechaEstimadaDevolucion | date : 'shortDate' }}</td>
            <td>{{ item.fechaRealDevolucion | date : 'shortDate' }}</td>
            <td>
              <span [class]="item.estado ? 'badge bg-danger' : 'badge bg-success'">
                {{ item.estado ? 'No Devuelto' : 'Devuelto' }}
              </span>
            </td>
            <td>
              <button
                class="btn btn-custom btn-sm"
                (click)="editarRenta(item)"
                data-bs-toggle="modal"
                data-bs-target="#formulario-rentas"
              >
                Update
              </button>
            </td>
            <td>
              <button class="btn btn-danger btn-sm" (click)="eliminarRenta(item)">Delete</button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    }
  </div>

  <!--Formulario-->
  <div
    class="modal fade"
    id="formulario-rentas"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-body">
          <app-rentas-form (onSave)="recargarTabla()"></app-rentas-form>
        </div>
      </div>
    </div>
  </div>
</div>
