.navBar-custom {
  background-color: #144273 !important;
}

.mainLogo {
  display: flex;
  gap: 10px;
  justify-content: start;
}

.mainLogo .logo {
  font-size: x-large;
  padding-top: 3px;
}

.logoNavbar {
  height: 25px;
  border-radius: 100px;
}
