.form {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-title {
  color: #2593b8;
  text-align: center;
  margin: 10px;
}

.btn {
  color: white;
  background-color: #00b0eb;
}

.btn:hover {
  background-color: #0198ca;
}
