<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form col-sm-12">
  <h2 class="form-title">Formulario Libros</h2>

  <!--Nombre-->
  <div class="mb-3">
    <label for="nombre" class="form-label">Titulo</label>
    <input
      type="text"
      class="form-control"
      name="titulo"
      aria-describedby="emailHelp"
      required
      #nombre="ngModel"
      [(ngModel)]="model.titulo"
    />
  </div>

  <!--Invitados-->
  <div class="mb-3">
    <label class="form-label">Año de Lanzamiento</label>
    <input
      type="number"
      class="form-control"
      name="anioLanzamiento"
      min="1"
      required
      [(ngModel)]="model.anioLanzamiento"
      #invitados="ngModel"
    />
  </div>

  <div class="mb-3">
    <label class="form-label">ISBN</label>
    <input
      type="number"
      class="form-control"
      name="ISBN"
      min="1"
      required
      [(ngModel)]="model.ISBN"
      #invitados="ngModel"
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Número de páginas</label>
    <input
      type="number"
      class="form-control"
      name="numeroPaginas"
      min="1"
      required
      [(ngModel)]="model.numeroPaginas"
      #invitados="ngModel"
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Stock</label>
    <input
      type="number"
      class="form-control"
      name="stock"
      min="1"
      required
      [(ngModel)]="model.stock"
      #invitados="ngModel"
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Sinopsis</label>
    <input
      type="text"
      class="form-control"
      name="sinopsis"
      min="1"
      required
      [(ngModel)]="model.sinopsis"
      #invitados="ngModel"
    />
  </div>

  <div class="mb-3">
    <label class="form-label">Autor:</label>
    <select class="form-select" name="idAutor" [(ngModel)]="model.idAutor" required>
      <option [ngValue]="0" disabled>Seleccione un autor</option>
      <option *ngFor="let autor of autores" [ngValue]="autor.idAutor">
        {{ autor.nombre }}
      </option>
    </select>
  </div>

  <div class="mb-3">
    <label class="form-label">Editorial:</label>
    <select class="form-select" name="idEditorial" [(ngModel)]="model.idEditorial" required>
      <option [ngValue]="0" disabled>Seleccione una editorial</option>
      <option *ngFor="let editorial of editoriales" [ngValue]="editorial.idEditorial">
        {{ editorial.nombre }}
      </option>
    </select>
  </div>

  <!--
  <div class="campo opciones">
    <label class="form-label">¿Asistirás al evento?</label>
    <select
      class="form-select ckecks"
      name="confirma"
      required
      [(ngModel)]="model.confirma"
      #confirma="ngModel"
    >
      <option value="">Selecciona...</option>
      <option value="si">Sí, asistiré</option>
      <option value="no">No podré asistir</option>
    </select>
  </div>
  -->

  <button type="submit" class="btn" data-bs-dismiss="modal">Enviar</button>
</form>
