.full-container {
  padding: 20px;
}

.table {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  //width: 600px;
}

.list-title {
  margin: 40px 0 5px 0;
  color: #144273;
}

.table-header {
  text-align: center;
}

//00b0eb
table thead.custom-table th {
  background-color: #144273 !important;
  color: white;
}

.btn-custom {
  background-color: #7ca9d9;
  color: white;
}

.add-btn {
  display: flex;
  justify-content: end;
  margin: 0 0 10px 0;
}

.btn-custom:hover {
  background-color: rgb(98, 139, 179);
}
